.top-element {
  position: absolute;
  z-index: 1000; /* High z-index value to ensure it's on top */
}
.custom-logo {
  max-width: 30px; /* Adjust this value as needed */
  height: auto;
}
/* Add to sidebar.css */
.sidebar .cursor-pointer {
  cursor: pointer;
}

/* Optionally, you can also ensure hover effects */
.sidebar .list-unstyled li:hover {
  background-color: #f4ebeb;
}


